@font-face {
  font-family: "TTTtangsbudaejjigaeB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2212@1.0/TTTtangsbudaejjigaeB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

.head {
  font-family: "TTTtangsbudaejjigaeB";
  font-size: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 190px;
  background-color: rgb(227, 227, 227);
}
